* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
}

.preload * {
  transition: none !important;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: grabbing;
}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.tenis {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tenis img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circulo {
  width: 20rem;
  height: 20rem;
  background: url(imgs/bola.png);
  background-size: cover;
  position: absolute;
}
.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.info h2 {
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.tamanhos {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.tamanhos button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
  user-select: none;
  outline: none;
}

button.active {
  background-color: #585858;
  color: white;
}

.comprar {
  margin-top: 5rem;
}
.comprar button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  transition: all 0.75s ease-out;
  outline: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
